<launch>
  <arg name="cam_ser" default="COMAU1707007" />
  <arg name="ximea_color_mode" default="MONO8" />
  <arg name="ximea_model" default="MC" />
  <arg name="lens_make" default="ricoh_8" />
  <node pkg="ximea_ros_cam" type="ximea_ros_cam_node" name="ximea" output="screen">
    <param name="serial_no"       type="string" value="$(arg cam_ser)" />
    <param name="cam_name"        type="string" value="ximea" />
    <param name="calib_file"      type="string" value="package://ximea_ros_cam/config/$(arg cam_ser)_L_$(arg lens_make)_calib.yaml" />
    <param name="frame_id"        type="string" value="0"        />
    <param name="num_cams_in_bus" type="int"    value="1"        />
    <param name="bw_safetyratio"  type="double" value="1.0"      />
    <param name="publish_xi_image_info" type="bool" value="true"/>
    <rosparam command="load" file="config/cameras/ximea_$(arg ximea_color_mode)_$(arg ximea_color_mode).yaml" />
  </node>
</launch>
